.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
  }
  
  .counter button {
    padding: 5px;
    height: 10%;
    width: 10%;
   
  }
  
  .counter p {
    margin: 30px;
   
  }
  